.form {
    width: 507px;
    z-index: 100;
}

.form > input,
.form > textarea{
    width: 100%;
    height: 45px;
    padding: 13px 24px;
    border: 1px solid #319F1C;
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 1.6rem;
}

.form > textarea{
    height: 98px;
    resize: none;
}

.form > button {
    width: 506px;
    height: 45px;
    box-shadow: 0 4px 8px #64BC45;
}