*, *:before, *:after {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: #000;
    line-height: 10px;
    font-weight: 400;
    background: #fff;
    position: relative;
    width: 1920px;
}

html.stopScroll {
    overflow: hidden;
}


body {
    padding: 0;
    margin: 0;
    background: #fff;
}
